.containerBlue {
    height: 70px;
  }
  
  /* .btn-search{
    border-radius: 40px;
    border: solid 1px white;
    color: white;
    font-size: 13px;
    
  }
  
  .btn-search:hover{
    background-color: white !important;
    color: black !important;
  }

  .button-espanol{
    border: solid 1px lightgrey;
    font-size: 12px;
} */